@model user
@{
    ViewBag.Title = "edit";
}

<h2>Edit Profile</h2>

<form method="post" enctype="multipart/form-data">
    <table width="80%">
        <tr>
            <td>@Html.LabelFor(n => n.firstName)</td>
            <td>@Html.TextBoxFor(n => n.firstName, new { @class = "form-control" })</td>
            <td>@Html.ValidationMessageFor(n => n.firstName, null, new { @class = "text-danger" })</td>
        </tr>
        <tr>
            <td><br /></td>
            <td><br /></td>
            <td><br /></td>
        </tr>
        <tr>
            <td>@Html.LabelFor(n => n.lastName)</td>
            <td>@Html.TextBoxFor(n => n.lastName, new { @class = "form-control" })</td>
            <td>@Html.ValidationMessageFor(n => n.lastName, null, new { @class = "text-danger" })</td>
        </tr>
        <tr>
            <td><br /></td>
            <td><br /></td>
            <td><br /></td>
        </tr>
        <tr>
            <td>@Html.LabelFor(n => n.phone)</td>
            <td>@Html.TextBoxFor(n => n.phone, new { @class = "form-control" })</td>
            <td>@Html.ValidationMessageFor(n => n.phone, null, new { @class = "text-danger" })</td>
        </tr>
        <tr>
            <td><br /></td>
            <td><br /></td>
            <td><br /></td>
        </tr>
        <tr>
            <td>@Html.LabelFor(n => n.email)</td>
            <td>@Html.TextBoxFor(n => n.email, new { @class = "form-control" })</td>
            <td>@Html.ValidationMessageFor(n => n.email, null, new { @class = "text-danger" })</td>
        </tr>
        <tr>
            <td><br /></td>
            <td><br /></td>
            <td><br /></td>
        </tr>
        <tr>
            <td>@Html.LabelFor(n => n.dateOfBirth)</td>
            <td><input type="date" name="dateOfBirth" size="40" /></td>
            <td>@Html.ValidationMessageFor(n => n.email, null, new { @class = "text-danger" })</td>
        </tr>
        <tr>
            <td><br /></td>
            <td><br /></td>
            <td><br /></td>
        </tr>
        <tr>
            <td>@Html.LabelFor(n => n.password)</td>
            <td>@Html.PasswordFor(n => n.password, new { @class = "form-control" })</td>
            <td>@Html.ValidationMessageFor(n => n.password, null, new { @class = "text-danger" })</td>
        </tr>
        <tr>
            <td><br /></td>
            <td><br /></td>
            <td><br /></td>
        </tr>
        <tr>
            <td>@Html.LabelFor(n => n.confirmPassword)</td>
            <td>@Html.PasswordFor(n => n.confirmPassword, new { @class = "form-control" })</td>
            <td>@Html.ValidationMessageFor(n => n.confirmPassword, null, new { @class = "text-danger" })</td>
        </tr>
        <tr>
            <td><br /></td>
            <td><br /></td>
            <td><br /></td>
        </tr>
        <tr>
            <td>@Html.LabelFor(n => n.profilePic)</td>
            <td> <input type="file" name="img" /></td>
            <td></td>
        </tr>
        <tr>
            <td><br /></td>
            <td><br /></td>
            <td><br /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update" class="btn btn-primary" /></td>
            <td> @ViewBag.status</td>
        </tr>
    </table>
</form>

@section scripts{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}