@model List<category>
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<table width="40%" style="font-size:20px;">
    <tr>
        <td> <strong> General </strong></td>
        <td><br /></td>
    </tr>
    <tr>
        <td> @Html.ActionLink("Users", "usersBrief") Count: </td>
        <td> @ViewBag.userscount </td>
    </tr>
    <tr>
        <td> All Posts Count: </td>
        <td> @ViewBag.postscount </td>
    </tr>
    <tr>
        <td><br /></td>
        <td><br /></td>
    </tr>
    <tr>
        <td><br /></td>
        <td><br /></td>
    </tr>
    <tr>
        <td> <strong> Categories </strong> </td>
        <td><br /></td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td> @item.categoryName Count: </td>
            <td> @item.posts.ToList().Count() </td>
        </tr>
    }
</table>