
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<table width="40%" style="font-size:20px;">
    <tr>
        <td> Users Count </td>
        <td> @ViewBag.userscount </td>
    </tr>
    <tr>
        <td> All Posts Count </td>
        <td> @ViewBag.postscount </td>
    </tr>
    <tr>
        <td><br /></td>
        <td><br /></td>
    </tr>
    <tr>
        <td> Animals Count </td>
        <td> @ViewBag.animalscount </td>
    </tr>
    <tr>
        <td> Art Count </td>
        <td> @ViewBag.artcount </td>
    </tr>
    <tr>
        <td> Buildings Count </td>
        <td> @ViewBag.buildingsscount </td>
    </tr>
    <tr>
        <td> Food Count </td>
        <td> @ViewBag.foodcount </td>
    </tr>
    <tr>
        <td> Vehicles Count </td>
        <td> @ViewBag.vehiclescount </td>
    </tr>
    <tr>
        <td> Sports Count </td>
        <td> @ViewBag.sportsscount </td>
    </tr>
    <tr>
        <td> Landscapes Count </td>
        <td> @ViewBag.landscount </td>
    </tr>
</table>