<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Walmart Instagram</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Walmart Instagram", "allposts", "post", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "allposts", "post")</li>
                    <li>@Html.ActionLink("Categories", "categories", "Post")</li>
                    @if (Session["username"] == null)
                    {
                        <li>@Html.ActionLink("Sign in ", "signIn", "user")</li>
                        <li>@Html.ActionLink("Sign up", "signUp", "user")</li>
                    }
                    else
                    {
                        if ((string)Session["username"] == "admin")
                        {
                            <li>@Html.ActionLink("Dashboard", "dashboard", "admin")</li>
                            <li>@Html.ActionLink("Users info", "usersBrief", "admin")</li>
                        }
                        <li>@Html.ActionLink("Create new Post", "addPost", "post")</li>
                        <li>@Html.ActionLink("My Posts", "myposts", "post")</li>
                        <li>@Html.ActionLink("My Profile", "profile", "user")</li>
                        <li>@Html.ActionLink("Sign out", "signOut", "user")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Walmart Instagram - @Html.ActionLink("Contact Us", "Contact", "Home")</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
