@model List<post>
@{
    ViewBag.Title = "myposts";
}


<br />
<br />
<br />
<br />
@foreach (var item in Model)
{
    <div style="font-size:22px; color:#282548 ; font-weight:bold;">
        @item.Title
    </div>
    <div>
        <table width="100%">
            <tr>
                <td width="70%" style=" font-size:18px;">@item.postContent</td>
                <td width="30%"> <img src="~/attach/postp/@item.picture" width="200" height="200" /> </td>
            </tr>
            <tr>
                <td width="70%" style="font-size:10px; color:#988080"> Catagory: @item.category.categoryName, Time:@item.date</td>
                <td width="30%">
                    @Html.ActionLink("Edit", "edit", new { id = item.postID })|
                    @Html.ActionLink("Delete", "delete", new { id = item.postID })|
                    @Html.ActionLink("Details", "details", new { id = item.postID })
                </td>
            </tr>
            <tr>
                <td>
                    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
                </td>
            </tr>
        </table>
    </div>
}
